---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
import TimeLineElement from "../components/cv/TimeLine.astro";

const posts = (await getCollection("projects")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <section class="flex flex-col gap-6">
    <div>
      <p class="mb-2">Hello, all 👋</p>
      <h1 class="text-4xl font-bold mb-4 inline-block border-b-4 border-primary">I'm Juwon Um</h1>

    </div>

    <div class="flex flex-row items-start gap-8">
      <div class="flex-1 text-lg leading-relaxed">
        <p>
          I'm currently a Master's Student at the 
          <a href="https://sites.google.com/view/gist-hcis-lab/home?authuser=0" target="_blank" rel="noopener noreferrer" class="underline decoration-primary decoration-2 hover:opacity-80">
            Human-Centered Intelligent Systems (HCIS) Lab</a>
          of
          <a href="https://www.gist.ac.kr/en/main.html" target="_blank" rel="noopener noreferrer" class="underline decoration-primary decoration-2 hover:opacity-80">
            Gwangju Institute of Science and Technology (GIST)</a>
          in Korea, advised by
          <a href="https://scholar.google.com/citations?user=AjfRd6wAAAAJ&hl=en&oi=ao" target="_blank" rel="noopener noreferrer" class="underline decoration-primary decoration-2 hover:opacity-80">
            Prof. SeungJun Kim</a>.
          My main areas of interest in Human-Computer Interaction (HCI) research, specifically Virtual Reality.
          If you have any questions about me or the projects I have worked on,
          feel free to contact me anytime via email at
          <a href="mailto:juwon.um@gm.gist.ac.kr" class="underline decoration-primary decoration-2 hover:opacity-80">
            juwon.um@gm.gist.ac.kr
          </a>
        </p>
      </div>

      <div class="flex-shrink-0">
        <img src="/profile.webp" alt="Juwon Um" class="w-50 h-60 object-cover" />
      </div>
    </div>
  </section>

  <div class="mt-10">
    <div class="text-3xl w-full font-bold mb-2">Selected Publications</div>
  </div>

  <HorizontalCard
    title="TeleHopper: Simulating a Jumping Sensation as Proprioceptive Feedback for Teleportation in Virtual Reality via Electrical Muscle Stimulation"
    img="/telehopper_webp.webp"
    desc="<u>Juwon Um</u>, Bocheon Gim, Seongjun Kang, Yumin Kang, Eunki Jeon, and SeungJun Kim"
    badges={["NEW", "1st Author", "Accepted"]}
    url={null}
    extra="CHI EA 2025: Extended Abstracts of the CHI Conference on Human Factors in Computing Systems, 2025"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="LegSense: Inducing Walking Sensation in Seated VR by Providing Movement Illusion via Electrical Muscle Stimulation "
    img="/LegSense.webp"
    desc="<u>Juwon Um</u>, Eunki Jeon, Yumin Kang, Seongjun Kang, Ahmed Elsharkawy, Joseph DelPreto, Wojciech Matusik, Daniela Rus, and SeungJun Kim"
    badges={["1st Author"]}
    url="https://doi.org/10.1145/3675094.3678375"
    extra="Ubicomp Companion 2024: Companion of the 2024 on ACM International Joint Conference on Pervasive and Ubiquitous Computing, 2024"
  />
  <div class="mt-8 flex justify-end">
    <a class="btn btn-outline text-base-content border-base-content hover:bg-base-content hover:text-base-100" href="/publications">
  See more
</a>
  </div>

  <!-- CV Section -->
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Gwangju Institute of Science and Technology (GIST)"
      logo="/gist_logo.webp"
      subtitle="<b>Master's student</b> at Intelligent Robotics, College of Information and Computing"
      description_1="Feb 2024 &mdash; Present"
    />
    <TimeLineElement
      title="Korea University of Technology & Education (Koreatech)"
      logo="/koreatech_logo.webp"
      subtitle="<b>Bachelor of Science (B.S.)</b> at School of Computer Science and Engineering"
      description_1="Mar 2019 &mdash; Feb 2024"
      description_2="GPA: 4.23 / 4.5, Major GPA: 4.26 / 4.5"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Research intern"
      logo="/hcislab_logo.webp"
      subtitle='<a href="https://sites.google.com/view/gist-hcis-lab/home?authuser=0" target="_blank" rel="noopener noreferrer" class="underline decoration-primary decoration-2 hover:opacity-80"><b>Human-Centered Interaction Systems Lab (HCIS Lab)</b></a> at Korea University of Technology & Education'
      description_1="Lab director: Prof. SeungJun Kim"
      description_2="2023 Summer, 2024 Winter"
    >
    </TimeLineElement>
    <TimeLineElement
      title="Research intern"
      logo="/interationlab_logo.webp"
      subtitle='<a href="https://sites.google.com/view/interaction-lab/" target="_blank" rel="noopener noreferrer" class="underline decoration-primary decoration-2 hover:opacity-80"><b>Interaction Lab</b></a> at Korea University of Technology & Education'
      description_1="Lab director: Prof. Sang-Youn Kim"
      description_2="Jul 2021 &mdash; Dec 2022"
    >
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Honors & Awards </div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <span> <b>Best Demo Award</b> &mdash; VRST 2022 (Dec 2022) </span>
    </li>
    <li>
      <span> <b>Excellent Paper Award</b> &mdash; 2022 Korea Digital Contents Society Summer Academic Conference (Jul 2022) </span>
    </li>
    <li>
      <span> <b>Academic Excellence Scholarship (Awarded for the students with high GPA)</b> &mdash; Korea University of Technology and Education (2019-2022) </span>
    </li>
  </ul>
<!-- CV Section -->

</BaseLayout>
